<head>
</head>
<body>
<style>
body(
    img-align:center;
)
</style>
</body>
<head>
<style>
body(
    Background-color:red;
)
</style>
<style>
body(
   text-align:center;
   text-decoration-color:red
)
</head>
#div(
    color:#d7d0c8;
    width:20%;
    height:50px;
)