<head>
  <title>MalteseRosaPortfolio</title>
  <style>
    body {
      background-color:white;
    }

    h1 {
      color: black;
      text-align: center;
    }

    p {
      font-family: courier;
      font-size: 24px;
      text-align: center
    }
  </style>
</head>

<body>
  <h1>Rosa Maltese Design</h1>
  <img src="/immagini/logo.png">
</body>

<style>
    table {
      width: 100%;
    }

    td,
    th {
      border: 1px solid black;
    }

    table.uno td {
      padding: 10px;
    }

    table.due td {
      padding: 100px;
    }

    th {
      text-align: center;
    }

    tbody tr:hover {
      background-color: red;
    }

    tr:nth-child(even) {
      background-color: grey;
    }
  </style>
<table class="uno">
<thead>
  <tr>
    <th>Colonna 1</th>
    <th>Colonna 2</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Dato 1</td>
    <td>Dato 2</td>
  </tr>
  <tr>
    <td>Dato 1</td>
    <td>Dato 2</td>
  </tr>
  <tr>
    <td>Dato 1</td>
    <td>Dato 2</td>
  </tr>
  <tr>
    <td>Dato 1</td>
    <td>Dato 2</td>
  </tr>

</tbody>