<head>
  <title>MalteseRosaPortfolio</title>
  <style>
    body {
      background-color:white;
    }

    h1 {
      color: black;
      text-align: center;
    }

    p {
      font-family: courier;
      font-size: 24px;
      text-align: center
    }
  </style>
</head>

<body>
  <h1>Rosa Maltese Design</h1>
  <img src="/immagini/logo.png">
</body>

<style>
    table {
      width: 100%;
    }
    
    th {
      text-align: center;
    }

    tbody tr:hover {
      background-color: rgb(0, 217, 255);
    }

  </style>